{% include "/public/public_header.html" %}
<body class="lyear-index">
<div class="lyear-layout-web" id="app">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">
            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a href="/" style="font-size: 1.0rem"><img src="/static/images/logo-white.svg" width="125"> 数据中心</a>
            </div>
            <div class="lyear-layout-sidebar-info lyear-scroll">
                <nav class="sidebar-main" v-html="asideMenu">
                </nav>
            </div>
        </aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header class="lyear-layout-header">

            <nav class="navbar">
                <div class="navbar-left">
                    <div class="lyear-aside-toggler">
                        <span class="lyear-toggler-bar"></span>
                        <span class="lyear-toggler-bar"></span>
                        <span class="lyear-toggler-bar"></span>
                    </div>
                </div>

                <ul class="navbar-right d-flex align-items-center">
                    <li>
                        <span class="position-relative icon-item">
                            <a href="/" title="访问官网" target="_blank">
                                <i class="mdi mdi-home-circle fs-5"></i>
                            </a>
                        </span>
                    </li>
                    <!--顶部消息部分-->
                    <li class="dropdown dropdown-notice">
                        <span data-bs-toggle="dropdown" class="position-relative icon-item">
                          <i class="mdi mdi-bell-outline fs-5"></i>
                          <span class="position-absolute translate-middle badge bg-danger">0</span>
                        </span>
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="lyear-notifications">

                                <div class="lyear-notifications-title d-flex justify-content-between"
                                     data-stopPropagation="true">
                                    <span>你有 0 条未读消息</span>
                                    <a href="#!">查看</a>
                                </div>
                                <div class="lyear-notifications-info lyear-scroll">
                                    <a href="#!" class="dropdown-item"
                                       title="">无数据</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--End 顶部消息部分-->
                    <!--切换主题配色-->
                    <li class="dropdown dropdown-skin">
                        <span data-bs-toggle="dropdown" class="icon-item">
                          <i class="mdi mdi-palette fs-5"></i>
                        </span>
                        <ul class="dropdown-menu dropdown-menu-end" data-stopPropagation="true">
                            <li class="lyear-skin-title"><p>主题</p></li>
                            <li class="lyear-skin-li clearfix">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="site_theme" id="site_theme_1"
                                           value="default" checked="checked">
                                    <label class="form-check-label" for="site_theme_1"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="site_theme" id="site_theme_2"
                                           value="translucent-green">
                                    <label class="form-check-label" for="site_theme_2"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="site_theme" id="site_theme_3"
                                           value="translucent-blue">
                                    <label class="form-check-label" for="site_theme_3"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="site_theme" id="site_theme_4"
                                           value="translucent-yellow">
                                    <label class="form-check-label" for="site_theme_4"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="site_theme" id="site_theme_5"
                                           value="translucent-red">
                                    <label class="form-check-label" for="site_theme_5"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="site_theme" id="site_theme_6"
                                           value="translucent-pink">
                                    <label class="form-check-label" for="site_theme_6"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="site_theme" id="site_theme_7"
                                           value="translucent-cyan">
                                    <label class="form-check-label" for="site_theme_7"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="site_theme" id="site_theme_8"
                                           value="dark">
                                    <label class="form-check-label" for="site_theme_8"></label>
                                </div>
                            </li>
                            <li class="lyear-skin-title"><p>LOGO</p></li>
                            <li class="lyear-skin-li clearfix">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_1"
                                           value="default" checked="checked">
                                    <label class="form-check-label" for="logo_bg_1"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_2"
                                           value="color_2">
                                    <label class="form-check-label" for="logo_bg_2"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_3"
                                           value="color_3">
                                    <label class="form-check-label" for="logo_bg_3"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_4"
                                           value="color_4">
                                    <label class="form-check-label" for="logo_bg_4"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_5"
                                           value="color_5">
                                    <label class="form-check-label" for="logo_bg_5"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_6"
                                           value="color_6">
                                    <label class="form-check-label" for="logo_bg_6"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_7"
                                           value="color_7">
                                    <label class="form-check-label" for="logo_bg_7"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_8"
                                           value="color_8">
                                    <label class="form-check-label" for="logo_bg_8"></label>
                                </div>
                            </li>
                            <li class="lyear-skin-title"><p>头部</p></li>
                            <li class="lyear-skin-li clearfix">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="header_bg" id="header_bg_1"
                                           value="default" checked="checked">
                                    <label class="form-check-label" for="header_bg_1"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="header_bg" id="header_bg_2"
                                           value="color_2">
                                    <label class="form-check-label" for="header_bg_2"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="header_bg" id="header_bg_3"
                                           value="color_3">
                                    <label class="form-check-label" for="header_bg_3"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="header_bg" id="header_bg_4"
                                           value="color_4">
                                    <label class="form-check-label" for="header_bg_4"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="header_bg" id="header_bg_5"
                                           value="color_5">
                                    <label class="form-check-label" for="header_bg_5"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="header_bg" id="header_bg_6"
                                           value="color_6">
                                    <label class="form-check-label" for="header_bg_6"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="header_bg" id="header_bg_7"
                                           value="color_7">
                                    <label class="form-check-label" for="header_bg_7"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="header_bg" id="header_bg_8"
                                           value="color_8">
                                    <label class="form-check-label" for="header_bg_8"></label>
                                </div>
                            </li>
                            <li class="lyear-skin-title"><p>侧边栏</p></li>
                            <li class="lyear-skin-li clearfix">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_1"
                                           value="default" checked="checked">
                                    <label class="form-check-label" for="sidebar_bg_1"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_2"
                                           value="color_2">
                                    <label class="form-check-label" for="sidebar_bg_2"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_3"
                                           value="color_3">
                                    <label class="form-check-label" for="sidebar_bg_3"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_4"
                                           value="color_4">
                                    <label class="form-check-label" for="sidebar_bg_4"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_5"
                                           value="color_5">
                                    <label class="form-check-label" for="sidebar_bg_5"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_6"
                                           value="color_6">
                                    <label class="form-check-label" for="sidebar_bg_6"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_7"
                                           value="color_7">
                                    <label class="form-check-label" for="sidebar_bg_7"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_8"
                                           value="color_8">
                                    <label class="form-check-label" for="sidebar_bg_8"></label>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--End 切换主题配色-->
                    <!--个人头像内容-->
                    <li class="dropdown">
                        <a href="javascript:void(0)" data-bs-toggle="dropdown" class="dropdown-toggle">
                            <img class="avatar-md rounded-circle" :src="useravator" />
                            <span style="margin-left: 10px;">{$ userinfo.username $}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="multitabs dropdown-item" data-url="/system/admin/profile"
                                   href="javascript:void(0)">
                                    <i class="mdi mdi-account"></i>
                                    <span>个人信息</span>
                                </a>
                            </li>
                            <li>
                                <a class="multitabs dropdown-item" data-url="/system/admin/change_password"
                                   href="javascript:void(0)">
                                    <i class="mdi mdi-lock-outline"></i>
                                    <span>修改密码</span>
                                </a>
                            </li>

                            <li class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" @click="login_out" style="cursor: pointer">
                                    <i class="mdi mdi-logout-variant"></i>
                                    <span>退出登录</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--End 个人头像内容-->
                </ul>

            </nav>

        </header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div id="iframe-content"></div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>
{% include "/public/public_page.html" %}
{% include "/public/public_js.html" %}
<script type="text/javascript" src="/static/js/index.min.js"></script>
<script type="text/javascript" src="/static/js/api/main.js"></script>
<script>
    const {createApp, ref, toRefs} = Vue
    const {ElMessage, ElMessageBox, ElNotification} = ElementPlus

    const app = createApp({
        delimiters: ['{$', '$}'],
        setup() {

            const permissions = ref([])
            const roleinfo = ref({})
            const menu_list = ref([])
            const userinfo = ref({})
            const asideMenu = ref("")
            const useravator = ref("/static/images/noavatar.jpg")

            /**退出登录操作 */
            const login_out = async () => {
                const res = await loginOut();
                if (res.code === 200) {
                    removeToken()
                    removeUtypeToken()
                    removePermissionToken()
                    ElMessage({message: res.msg, type: 'success', duration: 5 * 1000})
                    setTimeout(function () {
                        location.href = '/system/admin/login';
                    }, 1500);
                } else {
                    ElMessage({message: res.msg, type: 'error', duration: 5 * 1000})
                }
            }
            //获取默认用户相关信息
            const getUserInit = async () => {
                const res = await getInitData();
                if (res.code === 200) {

                    permissions.value = res.data.menu_list.permissions
                    roleinfo.value = res.data.roleinfo
                    menu_list.value = res.data.menu_list.routers
                    userinfo.value = res.data.userinfo
                    if(res.data.userinfo.avator){
                        useravator.value = userinfo.value.avator
                    }
                    asideMenu.value = createMenu(menu_list.value, true)
                    setPermissionToken(JSON.stringify(res.data.menu_list.permissions))
                }
            }

            //处理左侧菜单
            const createMenu = (data, is_frist) => {
                var menu_body = is_frist ? '<ul class="nav-drawer"><li class="nav-item active"><a class="multitabs" href="/system/admin/index" id="default-page"><i class="mdi mdi-home-city-outline"></i><span>后台首页</span></a></li>' : '<ul class="nav nav-subnav">';

                for (var i = 0; i < data.length; i++) {
                    iframe_class = data[i].is_link == 1 ? 'target="_blank"' : 'class="multitabs"';
                    icon_div = '<i class=" mdi ' + data[i].icon + '"></i>';
                    menuName = data[i].parent_id == 0 ? '<span>' + data[i].menu_name + '</span>' : data[i].menu_name;
                    selected = '';
                    if (data[i].children && data[i].children.length > 0) {
                        menu_body += '<li class="nav-item nav-item-has-subnav"><a href="javascript:void(0)">' + icon_div + ' ' + menuName + '</a>';
                        menu_body += createMenu(data[i].children, false);
                    } else {
                        url = '/' + data[i].perms.replace(/:/g, '/');
                        menu_body += '<li class="nav-item ' + selected + '"><a href="' + url + '" ' + iframe_class + '>' + icon_div +' ' + menuName + '</a>';
                    }
                    menu_body += '</li>';
                }
                menu_body += '</ul>';
                return menu_body;
            }

            getUserInit()

            return {
                permissions,
                roleinfo,
                menu_list,
                userinfo,
                asideMenu,
                useravator,
                login_out,
                createMenu,
                getUserInit
            }
        }
    })

    for ([name, comp] of Object.entries(ElementPlusIconsVue)) {
        app.component(name, comp);
    }
    app.use(ElementPlus, {locale: ElementPlusLocaleZhCn, size: 'default'})
    var vm = app.mount('#app')
</script>
</body>
</html>