<script src="/static/js/js.cookie.min.js"></script>
<script src="/static/js/vue/vue.global.prod.js"></script>
<script src="/static/js/vue/permission.js"></script>
<script src="/static/js/element-plus/element-plus.2.7.6.js"></script>
<script src="/static/js/element-plus/icons-vue.js"></script>
<script src="/static/js/element-plus/locale/zh-cn.js"></script>
<script src="/static/js/vue/axios.min.js"></script>
<script type="text/javascript" src="/static/js/Token.js"></script>
<script type="text/javascript" src="/static/js/request.js"></script>
